<div class="page-title-inline">
	<h1>{{ page.title }} {% if page.tagline %}</h1>
	<h2>{{ page.tagline }}</h2>{% endif %}
</div>
<div class="cont932">
	<hr style="margin-top: 0;">
	<div class="contentarea">
		<div class="ca-center ca-center20t nobg">
			<div class="journal-tags" id="teaminfo">
				{% for category in site.categories %} 
					<div class="journal-cat-box">
						<!--<a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category[0] }}-ref" title="{{ category[0] }}">-->
							<img src="/assets/themes/Snail/img/journal/category-icons/{{ category[0] }}.png">
							<!--
						</a>
						-->
					</div>
				{% endfor %}
			</div>
			<div class="clearboth"></div>
			<hr>
			<div>
				{% for category in site.categories %} 

				<div  class="team-member">
					<h2 id="{{ category[0] }}-ref">{{ category[0] }}</h2>
					<ul>
						{% assign pages_list = category[1] %}  
						{% include JB/pages_list %}
					</ul>
				</div>
				{% endfor %}

			</div>
			<div class="clearboth"></div>
		</div>
	</div>
	<div class="clearboth"></div>
</div>
<div class="clearboth"></div>
