<nav>
	<ul>
		<li><a href="{{ HOME_PATH }}">O Projeto</a></li>
		<li><a href="/robof.html">Robô F</a></li> 
		<li><a href="/jifi.html"><img src="/assets/img/home/jifi.png"></a></li>
		<li><a href="/blog.html">Notícias</a></li>
		<li><a href="#">Oficinas</a>
			<ul>
				<li><a href="/oficinas.html">Inscrições</a></li>
				<li><a href="/alunos.html">Alunos</a></li>
				<li><a href="/professores.html">Professores</a></li>
			</ul>
		</li>
		<li><a href="/dev.html">Desenvolvedores</a></li> 
		<li><a href="/contato.html">Contato</a></li> 

			<!--
			{% assign pages_list = site.pages %}
			{% assign group = 'navigation' %}
			{% for node in pages_list %}
				{% if node.title != null %}
				  {% if group == null or group == node.group %}
					{% if page.url == node.url %}
					<li  id = "{{node.title}}" class="active">
					<span class="nav-l-active"></span>
					<a href="{{ BASE_PATH }}{{node.url}}" class="active">{{node.title}}</a>
					<span class="nav-r-active"></span>
					</li>
					{% else %}
					<li id = "{{node.title}}"><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
					{% endif %}
				  {% endif %}
				{% endif %}
			 {% endfor %}
			{% assign pages_list = nil %}
			{% assign group = nil %}
		-->
	</ul>
</div>