---
layout: default
title: Marcadores dos exercícios
---

{% include JB/setup %}

<div id="warning-div"  class="bs-callout bs-callout-danger" >
	<center><h4>Estado dos Problemas</h4></center>
	<ol>
		{% for exercicio in site.data.exercicios %} 
			{% include util/validate_ex.html ex=exercicio %}
			<li style='padding: 0 0 0 0;'>
				{% if exercicio.Nome != nil %}
					{% if exercicio.Descricao != nil %}
						{{ exercicio.Nome }} ({{ exercicio.Descricao }})
					{% else %}
						{{ exercicio.Nome }}
					{% endif %}
				{% else %}
					Aquele que "{{ exercicio.Descricao }}"
				{% endif %}
			</li>
			<ul>
			{% assign ok = false %}
			{% assign found = false %}
			{% for post in site.posts %}
				{% if post.special[0] == "problemas" and exercicio.Nome == post.title %}
					{% assign found = true %}
					{% assign ok = true %}
					{% break %}
				{% endif %}
			{% endfor %}
			{% if found == false %}
				{% assign ok = false %}
				<li style='padding: 0 0 0 0;'>
					<b style="color: orange;">
					Não foi escrito ainda!
					</b>
				</li>
			{% endif %}
			{% if ok == true %}
				<li style='padding: 0 0 0 0;'>
					<b style="color: green;">
					Todos os dados estão Ok!
					</b>
				</li>
			{% endif %}
				{% if incomplete.size > 0 %}
				<li style='padding: 0 0 0 0;'>Falta:</li>
					<ul>
					{% assign ok = false %}
					{% assign list = incomplete | split: ';' %}	
					{% for item in list %}
						<li type="square" style='padding: 0 0 0 0;'>
							{% if found == false and ok == false%}
								{{ item }}
							{% else %}
								<b style="color: red;">
								{{ item }}
								</b>
							{% endif %}
						</li>
					{% endfor %}
					</ul>
				{% endif %}
			</ul>
		{% endfor %}
	</ol>
</div>
