<div id="page-content">
	<div class="err-cont">
		<center><img src="/assets/img/home/construction.png"/></center>
		<br>
		<h1>Página em construção</h1>
	    <p>Desculpe, ainda estamos organizando nosso material a fim de promover uma melhor experiência de navegração.</p>
	    <p>Tente acessar esta página novamente dentro de alguns dias.</p> 
	    <p>Não pode esperar pelo conteúdo? Nos mande um <a href="/contato.html">e-mail</a> =)</p>
	    <a href="/index.html" class="big-blue-button">
			<span class="big-blue-left"></span>
			<span class="big-blue-center">Voltar ao Inicio</span>
			<span class="big-blue-right"></span>
		</a>
	</div>
</div>
