---
layout: default
---
{% include JB/setup %}
<div class="page-title-inline">
	<h1>{{ page.title }}</h1>
	{% include util/nav_buttons.html tag="problemas" %}
</div>
<div class="divider"></div>

{% assign var = "apostila exercicio downloads" | split: ' ' %}
{% include util/build_sidebar.html title="Conteúdo" first="Alunos" href="/alunos.html" content=var %}

<div class="article-wrap">
	{{ content }}
</div>

{% if page.special != nil and page.special.first == "problemas" %}
<br>
<br>
<br>
<div class="divider"></div>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'petrobo';
    var disqus_identifier = '{{ page.id }}';
    var disqus_title = '{{ page.title }}';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}

