---
layout: default
---
{% include JB/setup %}
<div class="page-title-inline">
	<h1>{{ page.title }}</h1>
	{% include util/nav_buttons.html tag="problemas" %}
</div>
<div class="divider"></div>

{% for ex in site.data.exercicios %} 
	{% if ex.Nome == page.title %}
		{% assign this = ex %}
		{% break %}
	{% endif %}
{% endfor %}

<div class="sidebar" style="padding-top: 0;">
	{% assign var = "apostila exercicio downloads" | split: ' ' %}
	{% include util/build_sidebar.html title="Conteúdo" first="Alunos" href="/alunos.html" content=var %}
	
	{% assign tag_names = site.data.tags | map: 'Nome' %}
	{% capture tags %}{{ this.Tags }}{% endcapture %}
	{% assign tags = tags | split: ";" %}
	{% for t in tags %} 
		{% assign index = t | minus: 1 %}
		{% capture tag %}{{ tag_names[index] }}{% endcapture %}
		<a class="tag-cont" href="/tagsexercicios.html#{{ tag | remove: ' '}}-ref">
			<div class="tag-l"></div>
			<div class="tag-c">{{ tag }}</div>
			<div class="tag-r"></div>
		</a>
	{% endfor %}
	<br>
	<br>
</div>

<div class="article-wrap">
	<div style="float: right;">
		{% if this.V == "1" and this.R == "1"%}
			<a class="tag-cont" href="/tagsexercicios.html#VR-ref">
				<img height="42" src="/assets/img/exercicios/cuboVR.png" title="Funciona no Simulador e no Robô F"/>
			</a>
		{% else %}
			{% if this.V == "1" %}
				<a class="tag-cont" href="/tagsexercicios.html#Simulador-ref">
					<img height="42" src="/assets/img/exercicios/cuboVirtual.png" title="Funciona só no Simulador"/>
				</a>
			{% endif %}
			{% if this.R == "1" %}
				<a class="tag-cont" href="/tagsexercicios.html#RobôF-ref">
					<img height="42" src="/assets/img/exercicios/cuboReal.png" title="Funciona só no Robô F"/>
				</a>
			{% endif %}
		{% endif %}
	</div>
<center>


{% include util/validate_ex.html ex=this %}

{% if incomplete.size > 0 %}
<div id="warning-div" style="text-align: left; max-width: 430px; margin: 10 10 10 10;" class="bs-callout bs-callout-warning" >
	<center><h4>Atenção!</h4></center>
	Os seguintes elementos não foram definidos para este exercício:
	{% assign list = incomplete | split: ';' %}
	<ul>
		{% for item in list %}
		<li style='padding: 0 0 0 0;'>{{ item }}</li>
		{% endfor %}
	</ul>
</div>
{% endif %}

</center>

{% if this.Dificuldade != nil %}
{% assign dif_names = site.data.dificuldades | map: 'Nome' %}
{% assign index = this.Dificuldade | minus: 1 %}
{% capture dificuldade %}{{ dif_names[index] }}{% endcapture %}
	Dificuldade: <a class="tag-cont" href="/tagsexercicios.html#{{ dificuldade | remove: ' '}}-ref"><b>{{ dificuldade }}</b></a>
	&nbsp;
{% endif %}
{% if this.Tempo != nil %}
	{% if this.Tempo == "?" %}
		Tempo estimado: <b>Indeterminado</b>
	{% else %}
		Tempo estimado: <b>{{ this.Tempo }} min</b>
	{% endif %}
{% endif %}

{% if this.Mapa != nil %}
	{% if this.Mapa != "-" %}
		&nbsp;
		<button onclick="window.open('/assets/arquivos/mapas/{{ this.Mapa }}.proj')" title="Baixar Mapa"><i class="fa fa-download fa-fw"></i> Mapa</button>
	{% endif %}
{% endif %}

<!--
{% comment %}
{% if page.resposta != nil %}
	&nbsp;
	<button onclick="getfile()" title="Baixar Resposta"><i class="fa fa-download fa-fw"></i> Resposta</button>
{% endif %}
{% endcomment %}
-->
<br>
<br>
<br>
	{{ content }}
	{% include util/notes.html %}
</div>

{% if page.special != nil and page.special.first == "problemas" %}
<br>
<br>
<br>

<div class="divider"></div>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'petrobo';
    var disqus_identifier = '{{ page.id }}';
    var disqus_title = '{{ page.title }}';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}

